VITE_CONTRACT_ADDRESS=0xeC6AF3c5934F383972bb9980A51EC976099270b8
VITE_PAYMASTER_URL=

# How to get Paymaster URL (Base mainnet):
# 1) Go to https://portal.cdp.coinbase.com/
# 2) Create/select a project
# 3) Open Paymaster and copy the Base mainnet URL
# 4) Paste it into VITE_PAYMASTER_URL
